.header
    position: absolute
    display: block
    left: 0
    right: 0
    margin: 0 auto
    width: 80%
    border-radius: 7px
    top: 1.5rem
    background-color: #ffffff
    z-index: 5
    box-shadow: -5px 9px 20px -10px #dedede
    @include maxw($sm-pc)
        top: 0
        left: 0
        width: 100%
        border-radius: 0
    @include maxw($mob)
        box-shadow: none

    &__container
        position: relative
        // padding: 0 3rem !important

    &__body
        position: relative
        display: flex
        justify-content: space-between
        align-items: center
        height: 5.6rem
        z-index: 5
        @include maxw($mob)
            height: 3.4rem
        @include maxw($lg-mob)
            height: 4.3rem
        @include minw($full-hd)
            height: 7rem

    &__logo
        color: $title-color
        font-weight: 700
        @include adaptiv-font(20, 14)
        @include minw($pc)
            font-size: 1.2rem
        @include minw($lg)
            font-size: 1.5rem
        @include minw($full-hd)
            font-size: 1.8rem
        @include maxw($mob)
            font-size: 0.8rem
        img
            margin-right: 0.5rem
            @include maxw($mob)
                max-width: 1.2rem

    &__menu
        width: 60%
        @include maxw($pc)
            width: 58%
    &__menu-list
        display: flex
        list-style-type: none
        @include maxw($sm-tablet)
            display: block
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
            padding: 0

    .menu-item
        font-weight: 500
        font-size: 1rem
        z-index: 5
        a
            color: $text-color
            position: relative
            font-size: 1rem
            text-decoration: none
            &:hover
                color: $main-color
            @include minw($pc)
                font-size: 1rem
            @include minw($lg)
                font-size: 1.2rem
            @include minw($full-hd)
                font-size: 1.5rem
            @include maxw($sm-tablet)
                font-size: 1.5rem
                line-height: 3rem
            @include maxw($mob)
                font-size: 1.3rem
                line-height: 2.5rem
        a::before
            content: ''
            position: absolute
            left: 0
            bottom: -5px
            width: 0
            height: 1.7px
            background-color: $main-color

        a:hover:before
            width: 100%

        a::before
            transition: width 0.35s

    .menu-item:not(:last-child)
        @include adaptiv-value("margin-right", 32, 5, 0)

    &__signUp
        display: flex
        align-items: center
        a
            font-weight: 600
            font-size: 1rem
            color: $title-color
            margin-right: 2.25rem
            @include minw($pc)
                font-size: 1.1rem
            @include minw($lg)
                font-size: 1.3rem
            @include minw($full-hd)
                font-size: 1.5rem
            @include maxw($mob)
                font-size: 0.7rem
                margin-right: 1.25rem

            &:hover
                color: #5f5858
        @include maxw($sm-pc)
            order: 9
            margin-left: auto
            margin-right: 5%
        @include maxw($tablet)
            margin-right: 0
        @include maxw($sm-tablet)
            order: 9
            margin-left: auto
            margin-right: 5%

    &__burger
        display: none
        @include maxw($sm-tablet)
            display: block
            position: relative
            width: 30px
            height: 20px
            order: 99
        @include maxw($mob)
            width: 20px
            height: 16px

    &__burger
        span
            position: absolute
            background-color: $title-color
            left: 0
            width: 100%
            height: 2px
            top: 9px
            z-index: 5
            @include maxw($mob)
                top: 7px

    &__burger:before,
    &__burger:after
        content: ""
        background-color: $title-color
        position: absolute
        width: 100%
        height: 2px
        left: 0
        z-index: 5
    &__burger:before
        top: 0
    &__burger:after
        bottom: 0
    &__burger.active:before
        transform: rotate(45deg)
        top: 9px
        @include maxw($mob)
            top: 7px
    &__burger.active:after
        transform: rotate(-45deg)
        bottom: 9px
        @include maxw($mob)
            top: 7px
    &__burger.active span
        transform: scale(0)

    &__menu
        @include maxw($sm-tablet)
            position: fixed
            top: 0
            left: 0
            width: 100%
            height: 100%
            background-color: #FFF1E8
            // opacity: 0.9
            z-index: 2
            // padding: 14rem 15rem
            display: none
    &__menu.active
        top: 0
        display: block
a
    text-decoration: none
body.lock
    overflow: hidden

.fixed
    position: fixed
    top: 0
    left: 0
    width: 100%
    border-radius: 0
