.pricing
    background-color: #F5F6F9
    h2
        text-align: center
    .subtitle
        display: block
        margin: 0 auto
        text-align: center
        @include adaptiv-value("max-width", 600, 340, 0)
    &__wrapper
        display: flex
        justify-content: space-between
        @include adaptiv-value("margin-top", 70, 28, 0)
        @include maxw($sm-pc)
            flex-wrap: wrap
            justify-content: center
    &__item
        position: relative
        background-color: #ffff
        width: 28%
        @include adaptiv-value("margin-right", 32, 10, 0)
        text-align: center
        @include maxw($lg)
            width: 33%
        @include maxw($sm-pc)
            width: 40%
            margin-top: 2rem
        @include maxw($tablet)
            width: 51%
            margin-right: 0
        @include maxw($sm-tablet)
            width: 60%
        @include maxw($lg-mob)
            width: 75%
        @include maxw($mob)
            width: 90%
        @include maxw($i5)
            width: 100%

        hr
            background-color: #F4F5F7
            height: 2px
            border: none
            width: 100%
            margin-top: -1rem
        ul
            text-align: left
            list-style: none
            padding: 0
            margin-bottom: 4.5rem
            li
                border: 1px solid #F4F5F7
                border-radius: 6px
                padding: 16px 0px 16px 16px
                list-style-type: none
                margin-top: 0.8rem
                &::before
                    content: url(../../img/price/done.png)
                    margin-right: 1rem
                    vertical-align: middle
                @include maxw($tablet)
                    padding: 10px 0px 10px 10px

        .item_header
            @include adaptiv-value("height", 200, 110, 0)
            margin-top: 0
            @include adaptiv-value("padding-top", 50, 15, 0)
            &-rec
                background-color: $main-color
                @include adaptiv-value("padding-top", 30, 15, 0)
                h5, h4, h3
                    color: #ffff

                h4
                    line-height: 1rem
                h5
                    margin-top: 0
                    @include adaptiv-font(14, 10)
                h3
                    @include adaptiv-value("line-height", 16, 5, 0)

        .item_main
            @include adaptiv-value("padding", 30, 20, 0)
            padding-top: 0
            &-rec
                button
                    background-color: $main-color
                    color: #ffff
    button
        position: absolute
        margin-top: 2.5rem
        bottom: 1.75rem
        width: calc( 100% - ($adaptiv-btn-width + $adaptiv-btn-width) )
        background-image: url(../../img/price/btn-arrow.png)
        background-repeat: no-repeat
        background-size: 15% 105%
        background-position: 100% 50%
