@font-face
    font-family: 'Inter'
    src: url(../fonts/Inter-Regular.ttf) format('ttf'), url(../fonts/Inter-Regular.woff) format('woff')
    font-weight: 400

@font-face
    font-family: 'Inter'
    src: url(../fonts/Inter-Medium.ttf) format('ttf'), url(../fonts/Inter-Medium.woff) format('woff')
    font-style: italic
    font-weight: 500

@font-face
    font-family: 'Inter'
    src: url(../fonts/Inter-SemiBold.ttf) format('ttf'), url(../fonts/Inter-SemiBold.woff) format('woff')
    font-style: italic
    font-weight: 600

@font-face
    font-family: 'Inter'
    src: url(../fonts/Inter-Bold.ttf) format('ttf'), url(../fonts/Inter-Bold.woff) format('woff')
    font-weight: 700

@import 'base/vars'
@import 'base/buttons'
@import 'base/mixins'
@import 'base/typography'
@import 'blocks/header'

body
    font-family: 'Inter', sans-serif

.container
    max-width: 100rem
    margin: 0 auto
    padding: 0 10rem

    @include minw($sm-pc)
        max-width: 100rem

section
    padding: 9rem 0
.bg-grey
    background-color: $bg-grey
.bg-green
    background-color: $bg-green
